<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>585924498172-3uo2ui5emhn746qlonu6ahijc5fs68cd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.585924498172-3uo2ui5emhn746qlonu6ahijc5fs68cd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>585924498172-keqq7jqra40d00olljs8npgteavomqcj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAQKIDQ8ogpVV9yagnQMrOie90E6UjwgVo</string>
	<key>GCM_SENDER_ID</key>
	<string>585924498172</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bundle.id.here</string>
	<key>PROJECT_ID</key>
	<string>app-da007</string>
	<key>STORAGE_BUCKET</key>
	<string>app-da007.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:585924498172:ios:5d92ce0b9fb65254047d79</string>
</dict>
</plist>